@use "sass:math";
// Common
@import "./_variables";
@import "./_fonts";
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary-invert: findColorInvert($primary);
$info-invert: findColorInvert($info);
$success-invert: findColorInvert($success);
$warning-invert: findColorInvert($warning);
$danger-invert: findColorInvert($danger);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($black-ter, $white-ter),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.no-wrap {
  white-space: nowrap;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $family-heading;
    &.heading-hw {
      font-family: $family-handwriting;
    }
  }
}

.heading,
.button {
  font-family: $family-monospace;
}

.menu-label {
  font-family: $family-monospace;
  font-size: 1em;
}

.has-text-muted {
  color: $grey-light;
}


.toolbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  > .toolbar-item {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  > .toolbar-item,
  > .toolbar-right,
  > .toolbar-left {
    display: flex;
    align-items: center;

    .toolbar-text {
      align-self: center;
      padding: 0 1em;
    }
    .toolbar-control {
      display: flex;
      padding: 0.75rem;
    }
  }
}

.clickable {
  cursor: pointer;
}

.scrollbars {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px transparentize($grey, 0.5);
    background: $white-ter;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $blue;
    box-shadow: 0 0 1px transparentize($blue, 0.5);
  }
}

.limit-dropdown .dropdown-content {
  @extend .scrollbars;

  overflow-y: auto;
  max-height: 400px;
}

.card.clickable {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 2px 3px transparentize($blue, 0.6), 0 0 0 1px transparentize($blue, 0.6);
  }
}

#search-results {

  padding-top: rhythm( 2 );

  .gsc-control-cse {
    font-family: inherit;
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    vertical-align: top;
    padding-top: 0px;
    line-height: 1;
  }

  .gsst_a .gscb_a {
    line-height: 0.85;
  }

  table.gsc-search-box td {
    vertical-align: top;
  }

  .gs-no-results-result .gs-snippet,
  .gs-error-result .gs-snippet {
    background: $yellow-light;
    border-color: $yellow;
  }

  input {
    max-width: none;
    margin: 0;
  }
}

#viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  .page-text {
    flex: 1;
    background: $white;
  }

  > * {
    flex-grow: 1;
  }
}

.sm-icons {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    display: inline-block;
    padding-right: 0.5rem;
    img {
      vertical-align: middle;
    }
  }
  .youtube {
    color: red;
  }
  .patreon {
  }
}

.footer-container {
  a:hover,
  a:focus {
    color: $grey-lighter;
  }
}

ul.footer-contact {
  list-style: none;
  margin: 0;

  .patreon a {
    color: desaturate($orange, 20);
  }
  .email a {
    color: $grey-light;
  }
  .youtube a {
    color: desaturate(red, 30);
  }
  .twitter a {
    color: $blue;
  }
  .instagram a {
    color: lighten($purple, 10)
  }
  .tiktok a {
    color: $deep-blue-light;
  }
}

.page-book {
  $backgroundColor: #1A1A1A;
  background: $backgroundColor url('~@/assets/book/City-min.png') no-repeat center bottom;
  background-size: 1600px;
  padding-bottom: 650px;
  padding-top: 5em;
}

.page-book,
.page-book-alt,
.page-blue-bg {
  $fontColorTitle: #5FD5F5;
  $fontColorBody: #FFFFFF;
  $fontColorButton: #1A1A1A;
  $fontColorLinkHover: #5FD5F5;
  $button1Color: #D5E4E5;
  $button2Color: #BADDE5;
  $button3Color: #98D5DD;
  $fontSizeTitle: math.div(3em, 2);
  $fontSizeBody: 16px;
  $fontSizeButton: math.div(1.6em, 2);

  .content {
    font-size: $fontSizeBody;
    line-height: 1.3;
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }

  p,
  strong {
    color: $fontColorBody;
  }

  a:not(.button) {
    color: $fontColorBody;
    text-decoration: underline;

    transition: color 0.3s ease;

    &:hover,
    &:active,
    &:target {
      color: $fontColorLinkHover;
    }
  }

  a.no-underline {
    text-decoration: none;
  }

  .button {
    font-family: $family-sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: $family-sans-serif;
    color: $fontColorTitle;
    font-size: $fontSizeTitle;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.5;
    > a:not(.button) {
      color: $fontColorTitle;
    }
  }

  h3, h4 {
    margin-bottom: 0;
  }

  h1 {
    text-transform: none;
    margin-bottom: 1em;
    line-height: 1.15;
    .upper {
      text-transform: uppercase;
      font-weight: normal;
    }
    em {
      color: $fontColorBody;
      font-weight: normal;
      font-size: 0.95em;
      padding-top: 4px;
      line-height: 1.1;
    }
  }

  .sources-heading {
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0.5em 0;
  }

  .preorder-links {
    list-style: none;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.4;
    li {
      padding: 0;
      margin: 0;

      a {
        text-transform: uppercase;
        font-weight: bold;
        color: $fontColorTitle;
        text-decoration: none;
        border-bottom: 1px solid #454545;
      }
    }

  }

  .top-section {
    position: relative;

    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }

    .column {
      position: relative;
      z-index: 1;
    }

    .column:nth-child(2) .content:last-child {
      position: relative;
      padding-bottom: 483px;

      &:after {
        content: '';
        background: url('~@/assets/book/astronaut-min.png') no-repeat top right;
        background-size: 110%;
        display: block;
        width: 800px;
        height: 493px;
        position: absolute;
        bottom: 0px;
        right: -89px;
        z-index: -1;
      }

      @media screen and (max-width: $tablet) {
        padding-bottom: 1.2em;
        &:after {
          display: none;
        }
      }

      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding-bottom: 423px;

        &:after {
          right: -125px;
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    .cover-column {
      padding-right: 48px;
    }
  }

  .book-cover {
    max-width: 100%;
    margin-top: -20px;
  }

  .look-inside {
    margin-bottom: 4em;
  }

  .resources-links {
    position: relative;

    // &:after {
    //   content: 'Coming Soon!';
    //   background-color: #1A1A1ADD;
    //   color: white;
    //   position: absolute;
    //   z-index: 1;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   text-align: center;
    //   line-height: 140px;
    // }

    &, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & {
      max-width: 400px;
      margin: auto;
      margin-top: 3em;
    }

    li {
      margin-bottom: 1em;

      a {
        display: block;
        padding: 1.5em;
        color: $fontColorButton;
        background: $button1Color;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $fontSizeButton;
        font-weight: bold;
        text-align: center;
        border-radius: 40px;
        letter-spacing: 1px;
        transition: background 0.3s ease;
      }

      &:nth-child(2) a {
        background: $button2Color;
      }
      &:nth-child(3) a {
        background: $button3Color;
      }
      &:nth-child(4) a {
        background: darken($button3Color, 8);
      }

      a {
        &:hover,
        &:active,
        &:target {
          color: $fontColorButton;
          background-color: $fontColorBody;
        }
      }
    }
  }

  .any-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0;
    @media screen and (min-width: $tablet) {
      padding: 0 8em;
    }
  }
}

.page-book-alt {
  background-color: #dff1f5; // Old browsers
  background: radial-gradient(ellipse at top, #ffffff 0%,#ffffff 39%,#53cbf1 95%,#62c3e6 100%);
  $blue: #295abe;
  $lighterBlue: #3F7CE5;

  .button {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }

  a:not(.button),
  a:not(.button):hover,
  a:not(.button):active {
    color: $blue;
  }

  p, strong, ul, ol {
    color: #1A1A1A;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $lighterBlue;
    text-transform: none;
    font-size: 2em;
    font-weight: normal;
  }

  h2.ribbon-title {
    position: relative;
    top: 1em;
    z-index: 1;
    font-size: 2em;
    background: $blue;
    color: white;
    text-align: right;
    padding: .2em 1em .2em 1em;
    border-radius: 0 1em 1em 0;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.1;
    display: inline-block;
    min-width: 300px;
    width: calc(50% - 204px);

    > a {
      color: white;
      text-decoration: none;
      &:hover,
      &:active {
        color: white;
      }
    }

    &:before {
      content: "";
      background-color: $blue;
      left: -100vw;
      right: 100%;
      top: 0;
      bottom: 0;
      display: block;
      position: absolute;
    }
  }

  .lesson-plan-menu {
    max-width: 960px;
    margin: auto;
  }

  .hero {
    margin: auto;
    max-width: $desktop;
    max-height: 400px;
    overflow: hidden;
    background-color: white;
    .image {
      opacity: 0.8;
    }
  }

  .title-banner {
    max-width: $desktop;
    margin: auto;
    text-align: center;
    color: white;
    background-color: $lighterBlue;
    padding: 1em;

    h1 {
      color: white;
      font-size: 2.5em;
      line-height: 1;
      font-family: $family-handwriting;
      margin-bottom: 0;
    }

    small {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.section .container.narrow {
  max-width: $tablet;
}

.page-blue-bg {
  background-color: #dff1f5; // Old browsers

  p, strong, ul, ol {
    color: #1A1A1A;
  }
}

.press-kit {
  $blue: #295abe;

  h3 {
    font-family: $family-handwriting;
    font-size: 1.5em;
    font-weight: normal;
    color: #4EACE9;
  }

  a:not(.button),
  a:not(.button):hover,
  a:not(.button):active {
    color: $blue;
  }

  .contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .subtitle {
    font-size: 1.15em;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
  }

  .button {
    background-color: $blue;
    border-color: $blue;
    color: white;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
  }

  .me-explains {
    max-width: $tablet;
    margin: auto;
  }
}
